<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Server Example Using Express</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Welcome to the Express Static Website Example</h1>
        <nav>
            <a href="#">Home</a>
            <!--Anchor (basically a link)-->
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
        <img src="/images/image.jpg" alt="Brige over river" width=400>
        <div style="width:400px;">
            <p>Laborum officia dolore anim ex ipsum ipsum duis excepteur non velit officia occaecat. Proident ullamco
                reprehenderit ad exercitation et veniam nostrud magna mollit pariatur ut proident nulla qui. Nostrud
                magna
                dolore qui qui deserunt nostrud qui id enim pariatur labore ullamco ex quis. Id proident quis voluptate
                labore nisi elit non eiusmod irure laborum culpa ipsum ad. Reprehenderit pariatur nulla anim ex aliqua
                magna. Esse magna laboris dolore nostrud non ullamco est culpa eiusmod nisi aute. Labore ea deserunt
                nisi
                adipisicing nostrud aute eu.</p>
        </div>
    </div>
</body>

</html>